html, body {
  box-sizing: border-box;
}

#root,
.App {
  /* color: #fff; */
  /* background-color: #282c34; */
}

.App {

}

.content {
  padding: 5px;
}

.search-container {
  display: flex;
}

.chart {
  height: 100%;
  max-height: 480px;
}

.with-hover {
  cursor: pointer;
  transition: color .2s;
}

.with-hover:hover {
  color: #8884d8;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

pre {
  color: #8884d8;
  width: 80%;
  height: 80%;
  overflow: auto;
}